<section id="contact" class="main style3 secondary">
<div class="content container">
  <header >
  <h4 class="post-topic-title">新たに投稿する</h4>
  <p class="post-topic-detail">読んだ小説の感想や気になった場面</p>
  <p class="post-topic-detail">理解のできなった登場人物の行動など</p>
  <p class="post-topic-detail">まずは気軽に投稿してみましょう！</p>
  </header>
  <%= render :partial => 'form' %>
