
#intro .main style1 .content h2
{
    font-size:70px;
}

#one
{
		background: url("main/overlay.png"), url("../../main/one.jpg");
    height:450px;
		background-size: 156px 156px cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

	#two {
		background: url("main/overlay.png"), url("../../main/two.jpg");
         height:450px;
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

#three
{
		background: url("main/overlay.png"), url("../../main/one.jpg");
    height:450px;
		background-size: 156px 156px cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

.more-tp-1
{
    background-color:darkred;
}
.more-tp-2
{
    background:url("main/overlay.png"), url("../../main/two.jpg");
}
.more-tp-3
{
    background:url("main/overlay.png"), url("../../main/two.jpg");
}
.more-tp-4
{
    background: url("main/overlay.png"), url("../../main/one.jpg");
}
.more-tp-5
{
    background: url("main/overlay.png"), url("../../main/one.jpg");
}
.more-tp-6
{
    background:url("main/overlay.png"), url("../../main/two.jpg");
}

.block_to_inline{
	display: inline;
}

.user-wrapper{
  padding: 15px;
}

.logo{
  margin-left: 15px;
}

.header-icon{
  font-size: 38px !important;
  padding:4px;
  vertical-align: middle;
}

.menu{
  margin-right:15px;
  float:center;
}

.menu li{
	padding-top: 10 !important;
}

.header-wrapper ul{
	line-height:50px;
}

.header-wrapper a{
	font-size: 12px;
	padding:0 2px !important;

}

.header-wrapper li{
	line-height:50px;
	vertical-align: middle;
}

.logo-link{
  text-decoration: none;
  color: inherit;
}

.log-out-link{
  font-size:15px;
  float: right;
  line-height: 13px;
  margin-right: 15px;
}
