.my-page-wrapper{
  padding: 25px;
  height: 100%;
  width:100%;
}

.my-page-user-description-wrapper{
  width: 100%;
  height: 90px;
  padding-bottom: 10px;
}

.mypage-user-image{
  border-radius: 20%; 
  width: 90px;
  height: 90px;
  margin-right: 15px;
  float:left;
}

.mypage-user-name{
  font-size: 16px;
  padding: 0px 0 1px;
  line-height: 25px;
  margin: 0px;
  font-weight: 500;
}

.mypage-user-edit{
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 22px;
  float: right;
}

.mypage-user-introduction{
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0px;
  height: 45px;
}
