// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: white;
}
  

.topics-wrapper{
  padding: 10px 10px;
}

.topic-block{
  background: white;
  padding: 0px 10px 10px;
}

.topic-card-link{
  text-decoration: none;
}

.topic-title{
  margin-bottom: 1px;
  font-size: 16px;
  color: black; 
  font-weight:600;
  line-height:20px;
}

.topic-book-detail{
  margin:-4px 0px 4px;
  font-size: 12px;
  color: #696969;
  height: 17px;
}

.topic-detail-wrapper{
  padding: 10px 6px 2px 6px;
  margin-bottom: 4px;
}

.topic-detail{
  font-size: 12px;
  line-height:15px;
  color: black; 
  margin-bottom: 0px;
}

.add-info{
  margin-bottom: 0px;
  font-size: 10px;
  color: #999;
  line-height:10px;
  float: right;
}

.topic-hr{
  width: 97%;
}

.topic-user-image{
  border-radius: 50%; 
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.topic-user-name{
  margin-bottom: 0px;
  font-size: 13px;
  line-height:17px;
}

.topic-user{
  vertical-align: middle;
  margin-bottom: 3px;
}
