// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: white;
}
  

.topics-wrapper{
  padding: 10px 10px;
  min-height: 450px;
}

.topic-block{
  background: white;
  padding: 0px 10px 10px;
}

.topic-card-link{
  text-decoration: none;
}

.topic-title{
  margin-bottom: 1px;
  font-size: 16px;
  color: black; 
  font-weight:600;
  line-height:20px;
}

.topic-book-detail{
  margin:4px 0px 2px;
  font-size: 12px;
  color: #696969;
  line-height: 20px;
}

.topic-detail-wrapper{
  padding: 3px 6px 3px 6px;
  margin-bottom: 4px;
}

.topic-detail{
  font-size: 12px;
  line-height:15px;
  color: black; 
  margin-bottom: 0px;
}

.add-info{
  margin-bottom: 0px;
  font-size: 10px;
  color: #999;
  line-height:10px;
  float: right;
}

.topic-hr{
  width: 97%;
}

.topic-user-image{
  border-radius: 50%; 
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.topic-user-name{
  margin-bottom: 0px;
  font-size: 13px;
  line-height:17px;
  font-weight: 400;
}

.topic-user{
  vertical-align: middle;
  margin-bottom: 3px;
}

.post-topic-detail{
  font-size: 16px;
  line-height:6px;
  color: black; 
}

.post-topic-title{
  padding-bottom: 5px;
}

.delete-topic{
  font-size: 16px;
}

.topic-form-label{
  font-size: 16px;
  float: left;
  margin-left: 3px;
}

.topic-show-wrapper{
  padding: 15px;
  min-height: 450px;
}

.topic-show-detail-wrapper{
}

.edit-topic-link{
  font-size: 12px;
  width: 100%;
}

.comment-form{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  bottom: 0;
  z-index: 5;
  padding:0 10px;
}

.comment-form-box{
  padding: 5px;
  width: 72%;
  float: left;
}

.comment-submit{
  margin-top: 43px;
  border-radius: 15% !important;
  width:25%;
  margin-left: 6px;
  height: 45px !important;
  float:right;
  line-height: 45px !important;
  padding: 0px !important;
}

.comment-text-area{
  min-height: 90px;
  height: 90px !important;
  padding:10px 0;
}
